footer{
    //height: px2rem(296);
    background: #181818;
    padding: 0 px2rem(20);
    border-top: 1px solid #dcdcdc;
   .logo{
     width:px2rem(180);
     height: px2rem(30);
     margin:px2rem(27) auto;
     background: url("/assets/images/m-header-logo-white.png") no-repeat center;
     background-size: 100%;
     a{
       display: block;
       width: 100%;
       height: 100%;
     }
   }
  .foot-tool{
    &::after{
      content: '';
      display: block;
      width: 0;
      height: 0;
      clear: both;
    }
    .download,.concern{
      width: 50%;
      float: left;
      h1{
        color: #FFFFFF;
        @include px2px(font-size,24);
        width: 100%;
        text-align: center;
        margin: 0 0 px2rem(22) 0;
      }
      &>div{
        width: 100%;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction:row;
          flex-direction: row;
          -webkit-flex-wrap: nowrap;
          justify-content:space-around;
          flex-wrap: nowrap;

        a{
          display: block;
          color: #FFFFFF;
          @include px2px(font-size,20);
          height: px2rem(42);
          @include px2px(font-size,24);
          i{
            display: inline-block;
            font-style: normal;
          }
          i:nth-of-type(1){
            margin-right: px2rem(10);
            height: px2rem(42);
            float: left;
          }
          i:nth-of-type(2){
            height:px2rem(42);
            line-height: px2rem(42);
          }
        }
      }
    }
    .download{
      .ios{

        i:nth-of-type(1){
          width: px2rem(33);
          height: px2rem(33);
          background: url("/assets/images/ios-white.png") no-repeat center;
          background-size: contain;
          margin-top: px2rem(2);
        }
      }
      .android{
        i:nth-of-type(1){
          width: px2rem(33);
          height: px2rem(33);
          background: url("/assets/images/android-white.png") no-repeat center;
          background-size: contain;
          margin-top: px2rem(3);
        }
      }


    }
    .concern{
      .weibo{
        i:nth-of-type(1){
          width: px2rem(36);
          height: px2rem(36);
          margin-top: px2rem(4);
          background: url("/assets/images/wb-white.png") no-repeat center;
          background-size:contain;
        }
      }
      .wechat{
        i:nth-of-type(1){
          width: px2rem(36);
          height: px2rem(36);
          margin-top: px2rem(3);
          background: url("/assets/images/wx-white.png") no-repeat center;
          background-size: contain;
        }
      }
    }
  }
  .foot-bar{
    color: #FFFFFF;
    @include px2px(font-size,24);
    padding: 0 px2rem(60);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction:row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    justify-content:space-between;
    flex-wrap: nowrap;
    //height: px2rem(104);
    line-height: px2rem(104);
    /*for uc...*/
    display: -webkit-box;
    -webkit-box-direction:normal;
    box-direction:normal;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack:justify;
    box-pack :justify;
    -webkit-justify-content: space-between;
    a{
      color: #ccc;

      /*for uc...*/
      display:block;
    }
  }
  .copyright{
    @include px2px(font-size,20);
    text-align: center;
    color: #999999;
    padding: px2rem(22) 0;
  }
}