.body-wrapper{
  margin-top: px2rem(-4);
}

.top-menu-bar{
  box-sizing: border-box;
  //height: px2rem(94);
  //height: px2rem(104);
  background: #fff;
  //margin-bottom: px2rem(4);
  position: relative;
  overflow: hidden;
  .top-menu-list{
    overflow: hidden;
    overflow-x: scroll;
    //height: px2rem(102);
    background: #FFFFFF;
    -webkit-overflow-scrolling: touch;

    //&:after{
    //  content: '';
    //  position: absolute;
    //  left: 0;
    //  //bottom: 0;
    //  bottom: px2rem(10);
    //  background: #ccc;
    //  width: 100%;
    //  height: 1px;
    //  -webkit-transform: scaleY(0.5);
    //  transform: scaleY(0.5);
    //  -webkit-transform-origin: 0 0;
    //  transform-origin: 0 0;
    //}

    &::-webkit-scrollbar{
      display:none;
    }
    nav{
      white-space: nowrap;
      a{
        display: inline-block;
        line-height: px2rem(94);
        @include px2px(font-size,30);
        color: #666666;
        padding: 0 px2rem(20);
      }
      .active{
        position: relative;
        color: #000;
        //&:after{
        //  content: '';
        //  position: absolute;
        //  left: 0;
        //  bottom: 0;
        //  background: #fa1313;
        //  width: 100%;
        //  height: px2rem(2);
        //  z-index: 99999;
        //}
      }
    }
  }

  .white-block{
    display: none;
    position: absolute;
    width: 100%;
    height: px2rem(13);
    bottom: px2rem(-2);
    background: #fff;
    z-index: 9999;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background: #ccc;
      width: 100%;
      height: 1px;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }
  }

  .right-shadow{
    width: px2rem(20);
    height: px2rem(92);
    position: absolute;
    right: 0;
    top:px2rem(1);
    background-image: -webkit-linear-gradient(right, rgba(245,245, 245, 0.2) 0%, rgba(245,245, 245, 1) 100%);
    background-image: -moz-linear-gradient(right, rgba(245,245, 245, 0.2) 0%, rgba(245,245, 245, 1) 100%);
    background-image: -o-linear-gradient(right, rgba(245,245, 245, 0.2) 0%, rgba(245,245, 245, 1) 100%);
    background-image: linear-gradient(to right, rgba(245,245, 245, 0.2) 0%, rgba(245,245, 245, 1) 100%);
  }

  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #ccc;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  //&:after{
  //  content: '';
  //  position: absolute;
  //  left: 0;
  //  //bottom: 0;
  //  bottom: px2rem(10);
  //  background: #ccc;
  //  width: 100%;
  //  height: 1px;
  //  -webkit-transform: scaleY(0.5);
  //  transform: scaleY(0.5);
  //  -webkit-transform-origin: 0 0;
  //  transform-origin: 0 0;
  //}

}