@import '../storebase';
@import '../components/header';
@import '../components/swiper-min';
@import '../components/footer';
@import '../components/filter-dialog';
@import '../components/return-top';

.body-wrapper{
  border-top: 1px solid #cccccc;
  width: 100%;
  padding:0  px2rem(30);
  h1{
    width: 100%;
    text-align: center;
    @include px2px(font-size,32);
    margin: px2rem(38) 0;
    position: relative;
    overflow: hidden;
    color: #000;
    span{
      display: block;
      margin-bottom: px2rem(22);
      &:nth-of-type(2){
        margin-bottom: px2rem(30);
      }
    }
    &::after{
      content: '';
      width: px2rem(100);
      height: 1px;
      -webkit-transform: scaleY(.5);
      transform: scaleY(.5);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      background: #000;
      position: absolute;
      left: 50%;
      margin-left: px2rem(-50);
      bottom:0;

    }
  }
  img{
    display: block;
    border: none;
  }
  img.introduce{
    width: px2rem(690);
    height:px2rem(390);
    //margin: px2rem(85) auto 0;
  }
  img.logo{
    width: 100%;
    height:px2rem(490);
    margin: px2rem(20) 0;
  }
  p{
    @include px2px(font-size,30);
    line-height:px2rem(58);
    text-align: justify;
    margin: px2rem(50) 0;
  }
  a{
    @include px2px(font-size,32);
    text-decoration: none;
    color: #fe1b1b;
    display: block;
    width: 100%;
    text-align: left;
  }
  div.about{
    width: 100%;
    overflow: hidden;
    &>div{
      width: 100%;
      height: px2rem(70);
      line-height: px2rem(70);
      clear: both;
      @include px2px(font-size,30);
      span{
        display: inline-block;
        width: px2rem(200);
        text-align: left;
        color: #333;
        float: left;
      }
      ul{
        width:px2rem(450);
        float: left;
        li{
          width: 100%;
          color: red;
          float: left;
          a{
            display: block;
            width: 100%;
            overflow: hidden;
          }
        }
      }
      em{
        display: inline-block;
        width: px2rem(450);
        vertical-align: middle;
        color: #333;
        font-style: normal;
        float: left;
        word-wrap: break-word;
      }

    }
  }
}
a.allJeans{
  display: block;
  width: 100%;
  @include px2px(font-size,32);
  color: #fe1b1b;
  text-decoration: none;
  text-align: center;
  margin:px2rem(15) 0 px2rem(30);
}





