@import 'base/base';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/variables';
#tlbstoolbar { display: none!important;}
.main-container {
  position: relative;
  @media (min-width: $screen-am) {
    max-width: px2rem($screen-am-mw);
    margin: 0 auto;
  }
  //padding-bottom: px2rem(75);
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.hide {
  display: none !important;
}


