<%# helper/header.html %>
<%# component/header.html %>
<div class="body-wrapper">
    <%if(this.indexlist){ var info=this.indexlist.info, lists=this.indexlist.list %>
    <%if(info.title=='型客计划'){%>
    <span class="pic_onlyxk"></span>
    <%}%>
    <%if(info.thumb){%>
    <div class="top-small-pic">
        <img  src="<%= info.thumb%>" alt="<%= info.title||''%>">
    </div>
    <%}%>
    <h1><%=info.title %></h1>
    <p><%= info.description%></p>
    <div class="articles">
        <ul class="content-list"  id="content-list" temId="j-tmpl-newlist">
            <% if(lists&&lists instanceof Array &&lists.length>0){%>
            <% lists.forEach(function(list,index){%>
                <li>
                    <a href="<%= list.url%>">
                        <img src="<%=list.thumb%>" alt="">
                        <i></i>
                    </a>
                    <p><%= list.title%></p>

                </li>
            <%})%>

            <%}%>

        </ul>
    </div>
    <%# component/load_more.html%>


    <%}%>
</div>



<%# component/footer.html%>
<%# component/filter_dialog.html%>
<%# component/return_top.html%>

<%# helper/footer.html %>

<script id="j-tmpl-newlist" type="text/template">
    {{ for(var i = 0; i < it.list.length; i++){ }}
    <li>
        <a href="{{=it.list[i].url}}">
            <img src="{{=it.list[i].thumb}}" alt="{{=it.list[i].tag}}">
            <i></i>
        </a>
        <p>{{=it.list[i].title}}</p>

    </li>
    {{ } }}
</script>

