.search-default{
  h1{
    margin: px2rem(80) 0 px2rem(50);
    position: relative;
    @include px2px(font-size,32);
    text-align: center;
    height: px2rem(80);
    line-height: px2rem(80);

    &:after{
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      background: #000;
      width: px2rem(100);
      margin-left: px2rem(-50);
      height: 1px;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }
  }

  .default-list{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 px2rem(28);
    .column{
      display: inline-block;
      width: px2rem(338);
      height: px2rem(300);
      margin-bottom: px2rem(10);
      img{
        width: px2rem(338);
        height: px2rem(225);
      }

      h3{
        @include px2px(font-size,28);
        font-weight: normal;
        color: #000;
        height: px2rem(60);
        line-height: px2rem(60);
        text-align: center;
      }
    }
  }
}

.hide{
  display: none;
}
.show{
  display: block;
}