<%# helper/header.html %>
<%# component/header.html %>

<h1>
    反馈建议
    <button>
        提交
    </button>
</h1>
<div class="body-wrapper">
    <div class="feedback">
        <textarea name="" id="" cols="30" rows="10" placeholder="请提出你的问题或建议，我们会非常重视，谢谢你!"></textarea>
    </div>
    <div class="contactway">
        联系方式：
        <input type="text" placeholder="请输入您的手机号或邮箱">
    </div>

    <div class="box"></div>

</div>
<%# component/filter_dialog.html%>
<%# component/footer.html%>
<%# helper/footer.html %>
